<footer class="footer text-muted bg-light">
  <div class="container">
    <ul class="list-inline mb-0 float-left">
      <li class="list-inline-item">All rights reserved © <%= Date.today.year %> </li>
    </ul>
    
    <ul class="list-inline mb-0 float-right">
      <li class="list-inline-item mr-3"><%= link_to "Author", "https://phbomfim.dev/", target: "_blank" %></li>
    </ul>
  </div>
</footer>