<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <%= link_to "MyShop", root_path, class: "navbar-brand text-warning fw-bold fs-2" %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      </ul>
      <ul class="navbar-nav">
        <%= link_to "Products", products_path , class: "btn btn-outline-primary m-3"%>
        <%= link_to "Promotions", promotions_path , class: "btn btn-outline-primary m-3"%>
        <%= link_to "Create a record", new_record_path , class: "btn btn-outline-primary m-3"%>
      </ul>
    </div>
  </div>
</nav>